<div align='center'><h1>Erabiltzaile CRUD with Angular + Spring Boot</h1></div>

<div>
  <table class="table" style="width: 80%">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th></th>
    </tr>
    <tr *ngFor="let erabiltzaile of erabiltzaileak">
      <td>
        {{erabiltzaile.name}}
      </td>
      <td>
        {{erabiltzaile.email}}
      </td>
    </tr>
  </table>
</div>
<div>
  <p>
    <button (click)="addErabiltzaile()"> Add Book</button>
  </p>
</div>
<router-outlet></router-outlet>
